<!DOCTYPE html>
<html lang="en">
<head>
    <title>Test</title>
</head>
<body>
    <main>
        <h1>My Accounts</h1>
        <p><a href="{% url 'create_account' %}">Create Account</a></p>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Number of receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for account in account_table %}
                <tr>
                    <td>{{ account.name }}</td>
                    <td>{{ account.number }}</td>
                    <td>{{ account.receipts.all|length }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>
</html>
